.head h1 {
	color: #333;
  text-align: center;
  margin-top: 30px;
  margin-left: 200px;
}

.content {
	margin-top: 50px;
  margin-left: 200px;
}

form {
  margin: 50px auto;
  padding: 20px;
  max-width: 500px;
  background-color: #f9f9f9;
  border-radius: 5px;
  box-shadow: 0px 0px 5px #ccc;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h2 {
  font-size: 1.2em;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 10px;
}

input[type="file"] {
  display: none;
}

.custom-file-upload {
  display: inline-block;
  color: black;
  padding: 10px 20px;
  outline: none;
  white-space: nowrap;
  cursor: pointer;
  border-radius: 5px;
  border: 2px solid gray;
  font-size: 1em;
  font-weight: bold;
  background-color: #fff;
  box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}

.custom-file-upload:hover {
  background-color: #eee;
}

button[type="submit"] {
  background-color: #130754  ;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
  font-weight: bold;
  box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}

button[type="submit"]:hover {
  background-color: #130754 ;
}




#file-upload ~ span {
  margin-left: 0.5em;
  font-style: italic;
  font-size: 1.1em;
  color: gray;
}

.result {
  margin-top: 2em;
  font-size: 1.2em;
  text-align: center;
}
