{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>Contact Us</title>
	<link rel="stylesheet" href="{% static '../static/css/contact.css' %}?version=1">
</head>
<body>
    {% include 'sidebar.html' %}
	<div class="container">
        <div class="background">
            <div class="shape"></div>
            <div class="shape"></div>
        </div>
		<form method="post">
            <h3>Contact Us</h3>
            {% csrf_token %} 
            <!-- <label for="username">Username</label>
            <input type="text" placeholder="Enter Username" id="username" name="username"> -->
    
            <label for="password">Email</label>
            <input type="email" placeholder="Email" id="email" name="email">
    
            <label for="message">Message</label>
            <textarea id="message" placeholder="Your message" name="message" required ></textarea>

            <button type="submit">submit</button>
        </form>
	</div>
</body>
</html>
