<!DOCTYPE html>
<html lang="en">
<head>    
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static '/css/signup.css' %}?version=1">
    <title>sign up</title>
</head>
<body>
    <div class="background">
        <div class="shape"></div>
        <div class="shape"></div>
    </div>
    <form action="" method="post">
        {% csrf_token %} 
        <h3>Signup Here</h3>

        <label for="username">Username</label>
        <input type="text" placeholder="Username" name="username" id="username">

        <label for="email">Email</label>
        <input type="email" placeholder="Email or Phone" name="email" id="email">

        <label for="password1">Password</label>
        <input type="password" placeholder="Password" id="password1" name="password1">


        <label for="password2">Confirm Password</label>
        <input type="password" placeholder="Confirm Password" id="password2" name="password2">
        <button type="submit">Signup</button>
        
        <a href="{% url 'login' %}" >i have already account</a>
    </form>
</body>
</html>